<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="uk.ac.tees.cupcake">

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.BODY_SENSORS" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES" />

    <supports-screens
        android:anyDensity="true"
        android:largeScreens="true"
        android:normalScreens="true"
        android:resizeable="true"
        android:smallScreens="true" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning">

        <service
            android:name=".home.steps.StepCounterResetStarterJobService"
            android:permission="android.permission.BIND_JOB_SERVICE"
            android:enabled="true" />

        <service
            android:name=".home.steps.StepCounterResetJobService"
            android:enabled="true"
            android:permission="android.permission.BIND_JOB_SERVICE" />

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_maps_key" />

        <activity
            android:name=".maps.UserPostLocationActivity"
            android:label="@string/title_activity_user_post_location"/>
        <activity
            android:name=".maps.GymMapActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".videoplayer.VideoPlayerActivity"
            android:configChanges="orientation|screenSize" />
        <activity
            android:name=".home.health.heartrate.HeartRateActivity"
            android:parentActivityName=".home.MainActivity"
            android:theme="@style/AppTheme.BasicActionBar" />
        <activity
            android:name=".SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".login.LoginActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />
        <activity android:name=".login.RegisterActivity" />
        <activity android:name=".login.LostPasswordActivity" />
        <activity
            android:name=".videoplayer.VideoListActivity"
            android:label="Workout Videos"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".account.SettingsActivity"
            android:parentActivityName=".home.MainActivity"
            android:theme="@style/AppTheme.BasicActionBar" />
        <activity
            android:name=".account.AccountSettingsActivity"
            android:parentActivityName=".account.SettingsActivity"
            android:theme="@style/AppTheme.BasicActionBar" />
        <activity
            android:name=".account.DeleteAccountActivity"
            android:parentActivityName=".account.AccountSettingsActivity"
            android:theme="@style/AppTheme.BasicActionBar" />
        <activity
            android:name=".account.ChangeEmailActivity"
            android:parentActivityName=".account.AccountSettingsActivity"
            android:theme="@style/AppTheme.BasicActionBar" />
        <activity
            android:name=".account.ChangePasswordActivity"
            android:parentActivityName=".account.AccountSettingsActivity"
            android:theme="@style/AppTheme.BasicActionBar" />
        <activity
            android:name=".account.VerifyEmailActivity"
            android:parentActivityName=".account.AccountSettingsActivity"
            android:theme="@style/AppTheme.BasicActionBar" />
        <activity
            android:name="com.theartofdev.edmodo.cropper.CropImageActivity"
            android:theme="@style/Base.Theme.AppCompat" />
        <activity
            android:name=".account.EditProfileActivity"
            android:theme="@style/AppTheme.BasicActionBar" />
        <activity android:name=".account.SetupProfileActivity" />
        <activity
            android:name=".food.SearchFoodActivity"
            android:parentActivityName=".home.MainActivity"
            android:theme="@style/AppTheme.BasicActionBar" />
        <activity
            android:name=".home.health.heartrate.SaveHeartRateActivity"
            android:parentActivityName=".home.MainActivity"
            android:theme="@style/AppTheme.BasicActionBar" />

        <activity android:name=".home.MainActivity"
            android:launchMode="singleTop"
            android:windowSoftInputMode="adjustPan"/>

        <activity android:name=".healthnews.NewsActivity" />
        <activity android:name=".dietplan.DietActivity"
            android:parentActivityName=".home.MainActivity"
            android:theme="@style/AppTheme.BasicActionBar">
        </activity>
        <activity
            android:name=".dietplan.DietDetailsActivity" />
        <activity android:name=".workouts.BodybuildingListActivity" />
        <activity
            android:name=".workouts.BodybuildingArmsActivity"
            android:parentActivityName=".workouts.BodybuildingListActivity"
            android:theme="@style/AppTheme.BasicActionBar" />
        <activity
            android:name=".workouts.BodybuildingBackActivity"
            android:parentActivityName=".workouts.BodybuildingListActivity"
            android:theme="@style/AppTheme.BasicActionBar" />
        <activity
            android:name=".workouts.BodybuildingChestActivity"
            android:parentActivityName=".workouts.BodybuildingListActivity"
            android:theme="@style/AppTheme.BasicActionBar" />
        <activity
            android:name=".workouts.BodybuildingLegsActivity"
            android:parentActivityName=".workouts.BodybuildingListActivity"
            android:theme="@style/AppTheme.BasicActionBar" />
        <activity
            android:name=".workouts.BodybuildingShouldersActivity"
            android:parentActivityName=".workouts.BodybuildingListActivity"
            android:theme="@style/AppTheme.BasicActionBar" />

        <activity android:name=".recipes.SearchRecipesActivity"
            android:configChanges="orientation"
            android:parentActivityName=".recipes.SearchRecipesActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.BasicActionBar" />

        <activity
            android:name=".recipes.RecipeSearchResultsActivity"
            android:configChanges="orientation"
            android:parentActivityName=".recipes.SearchRecipesActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.BasicActionBar" />
        <activity
            android:name=".recipes.RecipeItemActivity"
            android:configChanges="orientation"
            android:parentActivityName=".recipes.RecipeSearchResultsActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.BasicActionBar" />

        <activity android:name=".account.ViewProfileActivity"
            android:parentActivityName=".home.MainActivity"
            android:theme="@style/AppTheme.BasicActionBar"/>

        <activity android:name=".friends.SearchFriendsActivity" />
        <activity android:name=".friends.SearchUserFriendsActivity" />
        <activity android:name=".account.healthstats.HealthStatsSetupActivity" />
        <activity
            android:name=".home.health.exercise.ExerciseSelectionActivity"
            android:parentActivityName=".workouts.BodybuildingListActivity"
            android:theme="@style/AppTheme.BasicActionBar" />
        <activity
            android:name=".posts.CreatePostActivity"
            android:parentActivityName=".workouts.BodybuildingListActivity"
            android:theme="@style/AppTheme.BasicActionBar" />
        <activity
            android:name=".home.health.exercise.ExerciseMapActivity"
            android:label="@string/title_activity_exercise_map"
            android:windowSoftInputMode="adjustResize" />
        <activity android:name=".home.health.heartrate.HeartRateGeneralActivity"
            android:parentActivityName=".home.MainActivity"
            android:theme="@style/AppTheme.BasicActionBar" />
        <activity android:name=".dietplan.DietTypeActivity" />

        <activity android:name=".mealplan.MealPlanner"
            android:parentActivityName=".home.MainActivity"
            android:theme="@style/AppTheme.BasicActionBar" />
    </application>

</manifest>