<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="uk.ac.tees.cupcake">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.BODY_SENSORS" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <supports-screens
        android:anyDensity="true"
        android:largeScreens="true"
        android:normalScreens="true"
        android:resizeable="true"
        android:smallScreens="true" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning">
        <activity
            android:name=".videoplayer.VideoPlayerActivity"
            android:configChanges="orientation|screenSize" />

        <activity android:name=".home.health.heartrate.HeartRateActivity"
            android:parentActivityName=".home.MainActivity"
            android:theme="@style/AppTheme.BasicActionBar" />

        <activity
            android:name=".SplashActivity"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".login.LoginActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait"/>
        <activity android:name=".login.RegisterActivity" />
        <activity android:name=".login.LostPasswordActivity" />
        <activity
            android:name=".videoplayer.VideoListActivity"
            android:label="Workout Videos"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".account.SettingsActivity"
            android:parentActivityName=".home.MainActivity"
            android:theme="@style/AppTheme.BasicActionBar" />
        <activity
            android:name=".account.AccountSettingsActivity"
            android:parentActivityName=".account.SettingsActivity"
            android:theme="@style/AppTheme.BasicActionBar" />
        <activity
            android:name=".account.DeleteAccountActivity"
            android:parentActivityName=".account.AccountSettingsActivity"
            android:theme="@style/AppTheme.BasicActionBar" />
        <activity
            android:name=".account.ChangeEmailActivity"
            android:parentActivityName=".account.AccountSettingsActivity"
            android:theme="@style/AppTheme.BasicActionBar" />
        <activity
            android:name=".account.ChangePasswordActivity"
            android:parentActivityName=".account.AccountSettingsActivity"
            android:theme="@style/AppTheme.BasicActionBar" />
        <activity
            android:name=".account.VerifyEmailActivity"
            android:parentActivityName=".account.AccountSettingsActivity"
            android:theme="@style/AppTheme.BasicActionBar" />
        <activity
            android:name="com.theartofdev.edmodo.cropper.CropImageActivity"
            android:theme="@style/Base.Theme.AppCompat" />
        <activity
            android:name=".account.EditProfileActivity"
            android:theme="@style/AppTheme.BasicActionBar" />
        <activity android:name=".posts.PostActivity" />
        <activity android:name=".posts.FinalisePost" />
        <activity android:name=".account.SetupProfileActivity" />
        <activity android:name=".food.SearchFoodActivity"
            android:parentActivityName=".home.MainActivity"
            android:theme="@style/AppTheme.BasicActionBar"/>
        <activity android:name=".home.health.heartrate.SaveHeartRateActivity"
            android:parentActivityName=".home.MainActivity"
            android:theme="@style/AppTheme.BasicActionBar" />
        <activity android:name=".home.MainActivity" />
        <activity android:name=".healthnews.NewsActivity" />
        <activity android:name=".dietplan.DietActivity" />
        <activity android:name=".dietplan.DietDetailsActivity"
            android:parentActivityName=".dietplan.DietActivity"
            android:theme="@style/AppTheme.BasicActionBar" />
        <activity android:name=".workouts.BodybuildingListActivity" />
        <activity android:name=".workouts.BodybuildingArmsActivity"
            android:parentActivityName=".workouts.BodybuildingListActivity"
            android:theme="@style/AppTheme.BasicActionBar"/>

        <activity android:name=".workouts.BodybuildingBackActivity"
            android:parentActivityName=".workouts.BodybuildingListActivity"
            android:theme="@style/AppTheme.BasicActionBar"/>

        <activity android:name=".workouts.BodybuildingChestActivity"
            android:parentActivityName=".workouts.BodybuildingListActivity"
            android:theme="@style/AppTheme.BasicActionBar"/>

        <activity android:name=".workouts.BodybuildingLegsActivity"
            android:parentActivityName=".workouts.BodybuildingListActivity"
            android:theme="@style/AppTheme.BasicActionBar"/>

        <activity android:name=".workouts.BodybuildingShouldersActivity"
            android:parentActivityName=".workouts.BodybuildingListActivity"
            android:theme="@style/AppTheme.BasicActionBar"/>

    </application>
</manifest>